<form #quizForm="ngForm" novalidate (ngSubmit)="createQuiz()">
  <fieldset>
    <legend>Create Quiz</legend>
    <div [ngClass]="{
        danger: name?.invalid && (name?.dirty || name?.touched),
        success: name?.valid && (name?.dirty || name?.touched)
      }">
      <label for="name">Name</label>
      <input type="text" name="name" ngModel required minLength="6" maxlength="50" placeholder="quiz name" #name="ngModel">

      <div class="debug">
        <pre>Valid? {{ quizForm.form.controls.name?.valid }}</pre>
        <pre>Dirty? {{ quizForm.form.controls.name?.dirty }}</pre>
        <pre>Touched? {{ quizForm.form.controls.name?.touched }}</pre>
      </div>
    </div>
  </fieldset>

  <div>
    <button type="submit" [disabled]="quizForm.invalid">Create Quiz</button>
  </div>
</form>

<div class="debug">
  <pre>{{ quizForm.value | json }}</pre>
</div>
