<div class="row">
  <div class="col-md-12">
    <form #quizForm="ngForm" novalidate (ngSubmit)="createQuiz()">

      <div class="row">
        <div class="col-xs-12">
            <fieldset>
                <legend>Create Quiz</legend>

                <div class="row">
                  <div class="form-group col-xs-12 col-sm-6" [ngClass]="{
                          danger: name?.invalid && (name?.dirty || name?.touched),
                          success: name?.valid && (name?.dirty || name?.touched)
                        }">
                    <label for="name">Name</label>
                    <input
                      type="text"
                      class="form-control"
                      name="name"
                      ngModel
                      required
                      minLength="6"
                      maxlength="50"
                      placeholder="Angular Components"
                      #name="ngModel"
                      (input)="onNameInput($event)"
                      >

                    <!-- <div class="debug">
                      <pre>Valid? {{ quizForm.form.controls.name?.valid }}</pre>
                      <pre>Dirty? {{ quizForm.form.controls.name?.dirty }}</pre>
                      <pre>Touched? {{ quizForm.form.controls.name?.touched }}</pre>
                    </div> -->
                  </div>

                  <div class="form-group col-xs-12 col-md-8" [ngClass]="{
                      success: (description?.dirty && description?.touched && description?.value.trim() != '')
                    }">
                    <label for="name">Description</label>
                    <textarea type="text" class="form-control" name="description" ngModel maxlength="250" placeholder="what is this quiz about?" #description="ngModel"></textarea>

                    <!-- <div class="debug">
                      <pre>Valid? {{ quizForm.form.controls.description?.valid }}</pre>
                      <pre>Dirty? {{ quizForm.form.controls.description?.dirty }}</pre>
                      <pre>Touched? {{ quizForm.form.controls.description?.touched }}</pre>
                    </div> -->

                  </div>
                </div>
              </fieldset>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-primary" [disabled]="quizForm.invalid">
              Create Quiz
            </button>
        </div>
      </div>

      <!-- <p *ngIf="quizCreated; else quizNotCreated">
        Quiz created!
      </p>

      <ng-template #quizNotCreated>
        <p>Quiz not created</p>
      </ng-template> -->
    </form>

    <!-- <div class="debug">
      <pre>{{ quizForm.value | json }}</pre>
    </div> -->

    <!-- <p [ngStyle]="{ 'background-color': getStyle(), 'color': 'white' }" [ngClass]="{ bold: 'true' }">
      ngStyle demo
    </p> -->

    <!-- <div *ngFor="let name of sampleQuizNames; let i = index"
      [ngStyle]="{ backgroundColor: i >= 2 ? 'blue' : 'transparent', color: i >= 2 ? 'white' : 'black' }"
      [ngClass]="{ bold: i >= 2 }">
      {{ name }}
    </div> -->

  </div>
</div>
