@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body, select, input, textarea {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}

.bold {
  font-weight: bold;
}

legend {
  font-size: 1.25em;
}

div.debug {
  margin: 1em 0;
}

div.success input, div.success textarea {
  border: thin solid green;
}

div.danger input, div.danger textarea {
  border: thin solid red;
}

button[disabled] {
  cursor: not-allowed;
}

textarea {
  max-width: 100%;
  min-height: 100px;
}
